



*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#login-body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('background.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;



}




.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.header:hover{
  background-color: #41aeb6;
}

.header.is-sticky {
  background-color: black;

}

.logo{
  width: 150px;
  height: fit-content;

}

.logo_text{
  font-size: 2em;
  color: #fff;
  user-select: none;

}



.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  margin-top: 100px;

}




.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}



.navigation a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}





.navigation .btnLogin-popup{
  width: 100px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;


}

.navigation .btnLogin-popup:hover{
  background: #fff;
  color: #000000;

}




.wrapper{
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgb(225, 255, 255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.wrapper_2{
  position: relative;
  width: 400px;
  height: 600px;
  margin-top: 100px;
  background: transparent;
  border: 2px solid rgb(225, 255, 255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;




}

.wrapper .form-box{
  width: 100%;
  padding: 40px;

  
}




.form-box h2{
  font-size: 2em;
  color: #000000;
  text-align: center;
}

.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #000000;
  margin: 30px 0 ;

}



.input-box label{
  position: absolute;
  top: 50% ;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000000;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
  
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #000000;
  line-height: 57px;

}

.remember-forgot{
  font-size: .9em;
  color: #000000;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content:space-between;

}

.remember-forgot label input{
  accent-color: #000000;
  margin-right: 5px;

}


.remember-forgot a{
  color: #162938;
  text-decoration: none;  
}


.remember-forgot a:hover{
  text-decoration: underline;
}

.btn{
  width: 100%;
  height: 45px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register{
  font-size: .9em;
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;

}

.login-register p a:hover{
  text-decoration: underline;
}


#accountSymbol {
  display: none;
}

/* Add some styling for a better visual appearance */
#loginButton,
#accountSymbol {
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#loginButton:hover,
#accountSymbol:hover {
  background-color: #555;
}


.link-box{
  width: 400px;
  height: 500px;
  margin: 30px;
  position: relative;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(129, 41, 41, 0.705);
  transition: .5s;
}

.link-box:hover{
  background-color: rgb(108, 35, 35);

}

.link-info-box{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 400px;
  height: 197px;
  border-radius: 0 0 10px 10px;
  transition: .5s;
}



.link-img-box{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 300px;
  border-radius: 10px 10px 0 0;

}

.link-info-box h2{
  margin-left: 10px;
  margin-top: 10px;
} 

.link-info-box p{
  margin-left: 10px;
  margin-top: -50px;
  font-weight: 400;
}


.links-home{
  text-decoration: none;
  color: #fff;
}

.link-img-box img{
  width:400px;
}


.link-img{

  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}


#box2{
  background-color: rgba(128, 0, 128, 0.433);
}


#box3{
  background-color: rgba(0, 128, 0, 0.433);
}
#box1:hover{
  background-color: rgb(207, 0, 0) ;
}

#box2:hover{
  background-color: rgb(128, 0, 128) ;
}

#box3:hover{
  background-color: rgb(0, 128, 0) ;
}




 .like-form .link-characters {
  display:inline-block;
  margin:10px;
}


.character-box{
  margin: 10px;
}


.main_list{
  display: flex;
  width: auto;
  height: fit-content;
  flex-wrap: wrap;
  background-color: rgba(31,123,224,255);
}

.characters-container{
  width: 200px;
  height: 300px;
  border-radius: 5px;
  background-color: aqua;
  margin-top: 20px;
  margin:25px;
  display: flex;
  flex-wrap: wrap;
}
.list_character{
  list-style-type: none;
}

.list_character a{
  text-decoration: none;
  color: #000000;
}

.character-info-box{
  margin-left: 15px;
}



.char-img-box{
  width: 200px;
  height: 200px;
  
}

.char-img{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  
}


.above-cards{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.above-cards h2{
  margin-top: 50px;
}

.above-cards p{
  text-align: center;
  margin-top: -50px;
}


.search-wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('background.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  
  

  
}


.search-box{
  width: 300px;
  height: 200px;
  background: transparent;
  border: 2px solid rgb(225, 255, 255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  padding-left: 20px ;
  order: 1;
}






.info-box{
  background-color: rgba(0, 255, 225, 0.433);
  border: 2px solid rgba(249, 255, 225, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  width: 500px;
  height: 150px;
  color: #000000;
  order: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  transition: 0.5s;

}
.info-box h2{
  margin-top: 5px;
}
.info-box:hover{
  background-color: rgb(0, 187, 255);
}

.info-box p{
  margin-top: 10px;
}

.logged-out-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('background.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.logged-out-box{
  width: 250px;
  height: 125px;
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid rgb(225, 255, 255,.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  padding: 20px;
}

.logged-out-box h2{
  font-size: 14px;
}