h2 = result
/ p first chapter apperance #{result["chapter"]}.
/ p first episode apperance #{result["episode"]}.
/ p year apperance #{result["year"]}.
/ p = result["note"].


a href="/ranks/index" back to ranks 
